{% extends 'base.html' %}
{% load static %} {% block title %}이메일 전송 완료{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'common/css/auth_find.css' %}">
{% endblock %}

{% block content %}


<div class="find-container">
    <div class="find-card">
        <h3 class="mb-4" style="font-weight: 900;">📧 이메일 발송 완료!</h3>
        <p class="text-muted mb-4" style="line-height: 1.6; font-size: 16px;">
            입력하신 이메일로 비밀번호 재설정 링크를 보냈습니다.<br>
            메일함을 확인해 주세요! (스팸함도 확인해 주세요)
        </p>
        <a href="{% url 'common:login' %}" class="btn-find">로그인 화면으로 돌아가기</a>
    </div>
</div>
{% endblock %}