{% extends "board_base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3 border-end">
            <h4 class="fw-bold mb-3">학원안내</h4>
            <hr class="mb-4">
            <ul class="list-unstyled">
                <li class="mb-3">
                    <a href="{% url 'Board:notice_list' %}" class="text-decoration-none text-secondary">
                        &nbsp;&nbsp;공지사항
                    </a>
                </li>
                <li class="mb-3">
                    <a href="{% url 'Board:community_list' %}" class="text-decoration-none text-dark fw-bold">
                        ● 게시판
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 ps-5">
            <h3 class="fw-bold mb-4">자유 게시판</h3>
            <table class="table table-hover">
                <thead class="table-light">   <!-- 여기 table-dark → table-light 로 변경 -->
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>게시판 테스트 글입니다.</td>
                        <td>운영자</td>
                        <td>2026-02-24</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a href="#" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
